{% extends 'base.html.twig' %}
{% block title %}Traiter un service | BusinessPark{% endblock %}
{% block content %}
	<section id="page-title">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h1 class="mainTitle">CRM </h1>
                                    
                                </div>
                                <ol class="breadcrumb">
                                    <li>
                                        <span>gestion des services</span>
                                    </li>
                                    <li class="active">
                                        <span>traiter</span>
                                    </li>
                                </ol>
                            </div>
                        </section>
	<div class="container-fluid container-fullw bg-white">
							<div class="row">
								<div class="col-md-12">
									<h5 class="over-title">Traiter un <span class="text-bold">service</span></h5>
									
									<div class="row">
										
											{{ form_start(form) }}
                                            {{ form_errors(form) }}
                                          
											
										
										<div class="col-md-6">
											<fieldset>
												<legend>
													 Information
												</legend>
												<div class="row">
													<div class="col-md-6">
														<div class="form-group">
															<label>
																Sujet
															</label>
															<span class="text-bold">{{service.sujet}}</span>
														</div>
													</div>
													
												
													<div class="col-md-6">
														<div class="form-group">
															<label class="block">
																Date d'incription
															</label>
															<span class="text-bold">{{service.dateajout|date('d M Y')}}</span>
														</div>
													</div>
													
												
													
													
													
												</div>

												<div class="row">
													
													<div class="col-md-6">
														<div class="form-group">
															<label class="block">
																Satisfaction de client
															</label>
															<div class="clip-radio radio-primary">
																{% if service.status=='non' %}
                                                                  <span class="label label-danger" >NON</span>
                                                                  {% else %}
                                                                   <span class="label label-success " >OUI</span>
                                                                  {% endif %}
															</div>
															
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group">
															<label class="block">
																Staus
															</label>
															<div class="clip-radio radio-primary">
																{% if service.etat=='non_consulter' %}
                                                                   <span class="label label-danger" >NON CONSULTER</span>
                                                                    {% endif %}
                                                                    {% if service.etat=='en_attente' %}
                                                                  <span class="label label-warning" >EN ATTENTE</span>
                                                                   {% endif %}


                                                               {% if service.etat=='consulter'%}
                                                              <span class="label label-success " >CONSULTER</span>


                                                             {% endif %}
															</div>
															
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-12">
														<div class="form-group">
															<label class="block">
																Description
															</label>
															{{service.description}}
														</div>
													</div>
													
													
												</div>

												<div class="row">
													<div class="col-md-12">
														<div class="form-group">
															<label class="block">
																Solution proposer
															</label>
															{{ form_widget(form.reponse,{'attr' :{'class': 'form-control'}}) }}
														</div>
													</div>
													
													
												</div>

												<div class="row">
													<div class="col-md-6">
														<div class="form-group">
															<label class="block">
																Etat de service
															</label>
															{{ form_widget(form.etat,{'attr' :{'class': 'form-control'}}) }}
														</div>
													</div>
													
													
												
													<div class="col-md-6">
														<div class="form-group">
															<label class="block">
																Prix de service
															</label>
															{{ form_widget(form.prixservice,{'attr' :{'class': 'form-control'}}) }}
														</div>
													</div>
													
													
												</div>
												
											</fieldset>
											
										</div>
									</div>
									{{ form_widget(form.save,{ 'attr': {'class': 'btn btn-o btn-primary'} }) }}
														{{ form_end(form) }} 
												
								</div>
							</div>
						</div>
{% endblock %}
{% block jspage	 %}
 	    <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
		<script src="{{asset('vendor/maskedinput/jquery.maskedinput.min.js')}}"></script>
		<script src="{{asset('vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js')}}"></script>
		<script src="{{asset('vendor/autosize/autosize.min.js')}}"></script>
		<script src="{{asset('vendor/selectFx/classie.js')}}"></script>
		<script src="{{asset('vendor/selectFx/selectFx.js')}}"></script>
		<script src="{{asset('vendor/select2/select2.min.js')}}"></script>
		<script src="{{asset('vendor/bootstrap-datepicker/bootstrap-datepicker.min.js')}}"></script>
		<script src="{{asset('vendor/bootstrap-timepicker/bootstrap-timepicker.min.js')}}"></script>
		<!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->

        
        <!-- start: JavaScript Event Handlers for this page -->
		<script src="{{asset('assets/js/form-elements.js')}}"></script>

        <script>
            jQuery(document).ready(function() {
                Main.init();
                FormElements.init();
            });
        </script>
        </script>
        {% endblock %}
        {% block menu %}
                        <ul class="main-navigation-menu">
                            <li >
                                <a href="{{path('index2')}}">
                                    <div class="item-content">
                                        <div class="item-media">
                                            <i class="ti-home"></i>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title"> Aceuil </span>
                                        </div>
                                    </div>
                                </a>
                            </li>{% endblock %}
                            {% block menucrm %}
                        
                            <li class="active open">
                                <a href="javascript:void(0)">
                                    <div class="item-content">
                                        <div class="item-media">
                                            <i class="ti-agenda"></i>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title"> CRM 
                                            
                                            </span><i class="icon-arrow"></i>
                                        </div>
                                    </div>
                                </a>
                                <ul class="sub-menu">
                                  <li >
                                                <a href="{{path('clients')}}">
                                                    Clients
                                                </a>
                                            </li>

                                            
                                            <li class="active">
                                                <a href="{{path('services')}}">
                                                    Services
                                                </a>
                                            </li>

                                             <li >
                                                <a href="{{path('compagnes')}}">
                                                    Compagnes marketing
                                                </a>
                                            </li>
                                           
                                           <li>
                                                <a href="{{path('opportunites')}}">
                                                    Opportunites de vente
                                                </a>
                                            </li>

                                            
                                            
                                            
                                    
                                    
                                </ul>
                            </li>{% endblock %}
