{% extends 'base.html.twig' %}
{% block title %}Liste des opportunites | BusinessPark{% endblock %}
{% block content %}
    <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
        <link href="{{asset('vendor/select2/select2.min.css')}}" rel="stylesheet" media="screen">
        <link href="{{asset('vendor/DataTables/css/DT_bootstrap.css')}}" rel="stylesheet" media="screen">
        <div id="ff">
        <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
        <section id="page-title">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h1 class="mainTitle">CRM  </h1>
                                    <span class="mainDescription"> Liste des <span class="text-bold"> opportunites de vente</span></span>

                                    
                                </div>
                                <ol class="breadcrumb">
                                    <li>
                                        <span>gestion des opportunites</span>
                                    </li>
                                    <li class="active">
                                        <span>liste</span>
                                    </li>
                                </ol>
                            </div>
                        </section>
                        <!-- start: DYNAMIC TABLE -->
                        <div class="container-fluid container-fullw bg-white">
                            <div class="row">
                                
                                <div class="col-md-12">

                                    <div class="row desct">
                                    <button class="btn btn-primary btn-squared margin-bottom-20 hidden-xs" data-toggle="modal" data-target=".bs-example-modal-lg"><i class="fa fa-plus"></i> opportunite</button>

                                    <button class="btn btn-primary btn-squared margin-bottom-20 hidden-xs   " id="fi"><i class="fa fa-print"></i> Imprimer</button>
             



             <div class="btn-group hidden-xs">
                    <a href="#" data-toggle="dropdown" class="btn btn-primary btn-squared margin-bottom-20" aria-expanded="false">
                      voir les opportunites  <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">

                      <li role="presentation" class="dropdown-header">
                        suivis
                      </li>
                      <li>
                        <a href="#myTab1_example0"  class="show-tab">
                          Tous
                        </a>
                      </li>
                      
                      <li>
                        <a href="#myTab1_example1"  class="show-tab">
                          Perdus
                        </a>
                      </li>
                      <li>
                        <a href="#myTab1_example2" class="show-tab">
                          Gagnié
                        </a>
                      </li>
                      <li>
                        <a href="#myTab1_example3" class="show-tab">
                          Ouvert
                        </a>
                      </li>
                      <li>
                        <a href="#myTab1_example3" class="show-tab">
                          Fermé
                        </a>
                      </li>
                      
                      <li class="divider"></li>
                      <li role="presentation" class="dropdown-header">
                        gestion de vente
                      </li>
                      <li>
                        <a href="#myTab1_example4" class="show-tab">
                          Piple de vente
                        </a>
                      </li>
                      
                    </ul>
            </div></div>

                                    <br><br><br>

                <div class="tabbable">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="myTab1_example0">
                  <table class="table table-striped  table-hover table-full-width" id="sample_1">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th class="">Intitule</th>
                                                <th>compagne</th>
                                                <th class="">Nom Client</th>
                                                <th>Etat de opportunite</th>
                                                <th class="">Revenue espérer</th>
                                                <td >Tache</td>
                                                <th class="">Date de fermeture</th>
                                                
                                                <th class="hidden-xs center" >Action</th>
                                                
                                                
                                                
                                                </tr>
                                        </thead>
                                        <tbody>
                                            {% for opportunite in opportunites %}
                                            
                                            <tr>
                                                <td > {{opportunite.id}}</td>
                                               <td class="" >{{opportunite.intitule}}</td>
                                               
                                                

                                                
                                                <td  >{{opportunite.compagne.intitule}}</td>
                                                
                                                 <td class="" >{{opportunite.client.nom}}</td>
                                                <td>
                                                    {% if opportunite.type=='nouveau' %}
                                                        <span class="label label-danger" >Nouveau</span>
                                                        {% endif %}
                                                              {% if opportunite.type=='qualifie' %}
                                                                  <span class="label label-warning" >Qualifié</span>
                                                                   {% endif %}


                                                        {% if opportunite.type=='proposition'%}
                                                        <span class="label label-success " >Proposition</span>


                                                        {% endif %}
                                                         {% if opportunite.type=='negociation'%}
                                                        <span class="label label-success " >Négociation</span>


                                                    {% endif %}
                                                        
                                                </td>
                                                <td class="" >{{opportunite.revenue}}</td>
                                                <td  >{{opportunite.activite}}</td>
                                                
                                                <td class="" >{{opportunite.datefermeture|date('d M Y')}}</td>
                                                
                                                
                                                
                                                <td class="hidden-xs center">
                                                <div class="visible-md visible-lg hidden-sm ">
                                                    <a href="{{path('modif_opportunite',{'id':opportunite.id})}}" class="btn btn-transparent btn-xs" tooltip-placement="top" tooltip="Edit"><i class="fa fa-pencil"></i></a>
                                                    <a href="{{path('traiter_opportunite',{'id':opportunite.id})}}" class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="Share"><i class="fa fa-eye"></i></a>
                                                   

                                                    <a href="{{path('supp_opportunite',{'id':opportunite.id})}}" class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="Remove"><i class="fa fa-times fa fa-white"></i></a>
                                                </div>
                                                <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                    <div class="btn-group" dropdown="">
                                                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" dropdown-toggle="">
                                                            <i class="fa fa-cog"></i>&nbsp;<span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu pull-right dropdown-light" role="menu">
                                                            <li>
                                                                <a href="#">
                                                                    Mofidier
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="#">
                                                                    Profil
                                                                </a>
                                                            </li>
 
                                                           
                                                            
                                                            <li>
                                                                <a href="#">
                                                                    Supprimer
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div></td>
                                                
                                            </tr>
                                            {% endfor %}
                                            
                                        </tbody>
                                    </table></div>
                                

                                 <div class="tab-pane fade in " id="myTab1_example1">

                       
                        {{ render(controller("CRMCrmBundle:Opportunite:opportunitesperdus")) }}
                                          </div>
                      <div class="tab-pane fade" id="myTab1_example2">
                               {{ render(controller("CRMCrmBundle:Opportunite:opportunitesganiger")) }}
                      </div>
                      <div class="tab-pane fade" id="myTab1_example3">
                                {{ render(controller("CRMCrmBundle:Opportunite:opportunitesouvert")) }}
                      </div>
                      <div class="tab-pane fade" id="myTab1_example4">
                                 {{ render(controller("CRMCrmBundle:Opportunite:opportunitesferme")) }} 
                      </div>
                      <div class="tab-pane fade" id="myTab1_example5">
                                  {{ render(controller("CRMCrmBundle:Opportunite:pipline")) }} 
                      </div>






                    </div></div>
                  
                                </div>
                            </div>
                        </div></div>
                        <!-- end: DYNAMIC TABLE -->
                        
    
{% endblock %}

        
{% block jspage %}
        !-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
        <script src="{{asset('vendor/select2/select2.min.js')}}"></script>
        <script src="{{asset('vendor/DataTables/jquery.dataTables.min.js')}}"></script>
        <script src="{{asset('assets/js/jQuery.print.js')}}"></script>
       
        <script src="{{asset('assets/js/table-data.js')}}"></script>
        <script>
            jQuery(document).ready(function() {
                Main.init();
                TableData.init();
                $("#fi").click(function(){
                    $("#ff").print();
                });
                
        $( ".desct li" ).click(function() {
                $( ".desct li" ).each(function() {
                $(this).removeClass( "active" );});});

                $('.modal-content').css('background','white');
                 //////////// ajouter_opportunite /////////////
                var ajouter_opportunite = $('form:eq(1)');
                ajouter_opportunite.submit(function(e){
                  var id = $(this).attr('id');
                                         
                  $.ajax({
                      url: "{{path('ajouter_opportunite')}}",
                      type: 'POST',
                      data: ajouter_opportunite.serialize(),
                      beforeSend: function(){
                            console.log('charge');
                            $('.bb').css( "display", "initial" );
                        },
                      success: function(d){
                             console.log('cb1');
                             $('form').trigger("reset");
                            $('.bb').css( "display", "none" );
                            window.location.reload(); },
                      error: function (xhr, ajaxOptions, thrownError) {
                      alert(xhr.responseText);           
                      alert(xhr.status);           
                      alert(xhr.thrownError);},
                         });

                      e.preventDefault();
                     });

                
            });
        </script>
        {% endblock %}
        
{% block menu %}
                        <ul class="main-navigation-menu">
                            <li >
                                <a href="{{path('index2')}}">
                                    <div class="item-content">
                                        <div class="item-media">
                                            <i class="ti-home"></i>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title"> Aceuil </span>
                                        </div>
                                    </div>
                                </a>
                            </li>{% endblock %}
                            {% block menucrm %}
                        
                            <li class="active open">
                                <a href="javascript:void(0)">
                                    <div class="item-content">
                                        <div class="item-media">
                                            <i class="ti-agenda"></i>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title"> CRM 
                                            
                                            </span><i class="icon-arrow"></i>
                                        </div>
                                    </div>
                                </a>
                                <ul class="sub-menu">
                                  <li >
                                                <a href="{{path('clients')}}">
                                                    Clients
                                                </a>
                                            </li>

                                            
                                            <li >
                                                <a href="{{path('services')}}">
                                                    Services
                                                </a>
                                            </li>

                                             <li >
                                                <a href="{{path('compagnes')}}">
                                                    Compagnes marketing
                                                </a>
                                            </li>
                                           
                                           <li class="active">
                                                <a href="{{path('opportunites')}}">
                                                    Opportunites de vente
                                                </a>
                                            </li>

                                            
                                            
                                            
                                    
                                    
                                </ul>
                            </li>{% endblock %}

