{% extends 'base.html.twig' %}
{% block title %}Liste des employés | BusinessPark{% endblock %}
{% block content %}
	<!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
		<link href="{{asset('vendor/select2/select2.min.css')}}" rel="stylesheet" media="screen">
		<link href="{{asset('vendor/DataTables/css/DT_bootstrap.css')}}" rel="stylesheet" media="screen">
		<!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
        <div id="ff">
   
	<section id="page-title">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h1 class="mainTitle">GESTION DE RESSOURCES HUMAINES</h1>
                                    <span class="mainDescription"> Liste des  <span class="text-bold">Employés</span></span>
                                    
                                    
                                </div>
                                <ol class="breadcrumb">
                                    <li>
                                        <span>gestion d'emplyés</span>
                                    </li>
                                    <li class="active">
                                        <span>liste</span>
                                    </li>
                                </ol>
                            </div>
                        </section>
                        <!-- start: DYNAMIC TABLE -->
						<div class="container-fluid container-fullw bg-white">
                            <div class="row">
								
								<div class="col-md-12">
									<button class="btn btn-primary btn-squared margin-bottom-20 hidden-xs" data-toggle="modal" data-target=".bs-example-modal-lg"><i class="fa fa-plus"></i> Employé</button>
                            
                                    <button class="btn btn-primary btn-squared margin-bottom-20 hidden-xs" id="fi"><i class="fa fa-print"></i> Imprimer</button>
                                    
                                    <table class="table table-striped  table-hover table-full-width" id="sample_1">
										<thead>
											<tr>
												<th>Photo</th>
												<th class="">Nom & Prenom</th>
												<th>Téléphone</th>
												<th class=""> Email</th>
												<th>Département</th>
												<th class="">Fin du contrat</th>
												<th class="hidden-xs center">Action</th>
											</tr>
										</thead>
										<tbody>
											{% for employe in employes %}
											
											<tr>
												<td><img src="{{asset('assets/images/avatar-1.jpg')}}" class="img-rounded" alt="image"></td>
												<td class="">{{employe.nom~' '~employe.prenom}}</td>
												<td>{{employe.tel}}</td>
												<td class="">{{employe.email}}</td>
												<td>{{employe.departement.nom}}</td>
												<td>
                                                        {% if employe.post == null %}
                                                        	Vide

                                                        {% else %}
                                                        {{employe.post.fin|date('d,M-Y')}}
													
                                                        {% endif %}
													
												</td>
												<td class="hidden-xs center">
												<div class="visible-md visible-lg hidden-sm ">
													<a href="{{path('modif_employe',{'id':employe.id})}}" class="btn btn-transparent btn-xs" tooltip-placement="top" tooltip="Edit"><i class="fa fa-pencil"></i></a>
													<a href="{{path('profil_employe',{'id':employe.id})}}" class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="Share"><i class="fa fa-eye "></i></a>
													<a href="{{path('supp_employe',{'id':employe.id})}}" class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="Remove"><i class="fa fa-times fa fa-white"></i></a>
												</div>
												<div class="visible-xs visible-sm hidden-md hidden-lg">
													<div class="btn-group" dropdown="">
														<button type="button" class="btn btn-primary btn-sm dropdown-toggle" dropdown-toggle="">
															<i class="fa fa-cog"></i>&nbsp;<span class="caret"></span>
														</button>
														<ul class="dropdown-menu pull-right dropdown-light" role="menu">
															<li>
																<a href="#">
																	Mofidier
																</a>
															</li>
															<li>
																<a href="#">
																	Profil
																</a>
															</li>
															<li>
																<a href="#">
																	Supprimer
																</a>
															</li>
														</ul>
													</div>
												</div></td>
											</tr>
											{% endfor %}
											
										</tbody>
									</table>
								</div>
							</div>
						</div>
                    </div>
						<!-- end: DYNAMIC TABLE -->
					<div class="modal fade bs-example-modal-lg" data-modal-title="Ajout d'un nouveau personnel" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog modal-lg">
                                                <div class="modal-content">
                                                    <div class="modal-body">
                                                         {{ render(controller("GRHGrhBundle:Employe:ajouter_employe")) }}
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        	
	
{% endblock %}
{% block jspage %}
       <script src="{{asset('vendor/select2/select2.min.js')}}"></script>
		<script src="{{asset('vendor/DataTables/jquery.dataTables.min.js')}}"></script>
		<!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
		<!-- start: CLIP-TWO JAVASCRIPTS -->
		<script src="{{asset('assets/js/jQuery.print.js')}}"></script>
		<!-- start: JavaScript Event Handlers for this page -->
		<script src="{{asset('assets/js/table-data.js')}}"></script>
		<script>
			jQuery(document).ready(function() {
				Main.init();
				TableData.init();
                $("#fi").click(function(){
                    $("#ff").print();
                });



                $('.modal-content').css('background','white');
                //////////// ajouter_employe /////////////
                var ajouter_employe = $('form:eq(1)');
                ajouter_employe.submit(function(e){
                  var id = $(this).attr('id');
                                         
                  $.ajax({
                      url: "{{path('ajouter_employe')}}",
                      type: 'POST',
                      data: ajouter_employe.serialize(),
                      beforeSend: function(){
                            console.log('charge');
                            $('.bb').css( "display", "initial" );
                        },
                      success: function(d){
                             console.log('cb1');
                             $('form').trigger("reset");
                            $('.bb').css( "display", "none" );
                             window.location.reload(); },
                      error: function (xhr, ajaxOptions, thrownError) {
                      alert(xhr.responseText);           
                      alert(xhr.status);           
                      alert(xhr.thrownError);},
                         });

                      e.preventDefault();
                     });

			});
		</script>
        {% endblock %}
{% block menu %}
                        <ul class="main-navigation-menu">
                            <li >
                                <a href="{{path('index2')}}">
                                    <div class="item-content">
                                        <div class="item-media">
                                            <i class="ti-home"></i>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title"> Aceuil </span>
                                        </div>
                                    </div>
                                </a>
                            </li>{% endblock %}

                            {% block menugrh %}
                            
                            <li class="active open">
                                <a href="javascript:void(0)">
                                    <div class="item-content">
                                        <div class="item-media">
                                            <i class=" ti-user"></i>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title">Gestion res. humaines</span><i class="icon-arrow"></i>
                                        </div>
                                    </div>
                                </a>
                                <ul class="sub-menu">
                                            <li >
                                                <a href="{{path('departement')}}">
                                                    Départements
                                                </a>
                                            </li>
                                            <li class="active">
                                                <a href="{{path('employe')}}">
                                                    Employés
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{path('postes')}}">
                                                    Postes
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{path('absences')}}">
                                                    Absences
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{path('conges')}}">
                                                    Congés
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{path('recrutements')}}">
                                                    Recrutements
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{path('salaires')}}">
                                                    Salaires
                                                </a>
                                            </li>
                                    
                                </ul>
                            </li>


                       {% endblock %}

