{% extends 'base.html.twig' %}
{% block title %}Liste des Postes | BusinessPark{% endblock %}
{% block content %}
   <div id="ff">
                        <section id="page-title">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h1 class="mainTitle">Gestion de ressources humaines </h1>
                                    <span class="mainDescription"> Liste des <span class="text-bold">Postes</span>
                                    
                                    
                                </div>
                                <ol class="breadcrumb">
                                    <li>
                                        <span>gestion des postes</span>
                                    </li>
                                    <li class="active">
                                        <span>lite</span>
                                    </li>
                                </ol>
                            </div>
                        </section>
                       <!-- start: PAGE TITLE -->
                       <div class="container-fluid container-fullw bg-white" >
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-primary btn-squared margin-bottom-20 hidden-xs" data-toggle="modal" data-target=".bs-example-modal-lg"><i class="fa fa-plus"></i> Poste</button>

                                    <button class="btn btn-primary btn-squared margin-bottom-20 hidden-xs" id="fi"><i class="fa fa-print"></i> Imprimer</button>
                                    
                            
                                    
                                    <table class="table table-hover" id="sample-table-1">
                                        <thead>
                                            <tr>
                                                <th class="center">#</th>
                                                <th class="">Nom</th>
                                                <th >Département</th>
                                                <th >Debut occupation</th>
                                                <th>Salaire</th>
                                                <th>Fin occupation</th>
                                                <th class=" ">Status</th>
                                                <th class="hidden-xs center "></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for post in postes %}
                                                <tr>
                                                <td class="center">{{post.id}}</td>
                                                <td class="">{{post.intitule}}</td>
                                                <td>{{post.departement.nom}} </td>
                                                <td>
                                                <a href="#" rel="nofollow" target="_blank">
                                                  {{post.debut|date('d,M-Y')}} 
                                                </a></td>
                                                <td class="">{{post.salaire}}</td>
                                                <td>{{post.fin|date('d,M-Y')}}</td>
                                                <td class=" ">
                                                    {% if post.status == 'occupe' %}
                                                        <span class="label label-danger">Occupé</span>
                                                    {% else %}
                                                    <span class="label label-success">Libre</span>

                                                    {% endif %}

                                                    
                                                   
                                                </td>
                                                
                                                <td class="hidden-xs center ">
                                                <div class="visible-md visible-lg hidden-sm ">
                                                    <a href="{{path('modif_post', {'id' : post.id})}}" class="btn btn-transparent btn-xs" tooltip-placement="top" tooltip="Edit"><i class="fa fa-pencil"></i></a>
                                                    <a href="{{path('detail_post', {'id' : post.id})}}" class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="Share" data-toggle="modal" data-target="#myModal"><i class="fa fa-eye"></i></a>
                                                    <a href="{{path('supp_post', {'id' : post.id})}}" class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="Remove"><i class="fa fa-times fa fa-white"></i></a>
                                                </div>
                                                <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                    <div class="btn-group" dropdown="" is-open="status.isopen">
                                                        <button type="button" class="btn btn-primary btn-o btn-sm dropdown-toggle" dropdown-toggle="">
                                                            <i class="fa fa-cog"></i>&nbsp;<span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu pull-right dropdown-light" role="menu">
                                                            <li>
                                                                <a href="">
                                                                    Edit
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    Share
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="">
                                                                    Remove
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div></td>
                                            </tr>
                                            <!-- Default Modal -->
                                       <div class="modal fade bs-example-modal-lg"  tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog modal-lg">
                                                <div class="modal-content">
                                                    <div class="modal-body">
                                                        {{ render(controller("GRHGrhBundle:Post:ajouter_post")) }}
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                     <!-- /Default Modal -->
                                            {% endfor %}
                                            
                                         
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                        <!-- end: PAGE TITLE -->
                        <!-- start: YOUR CONTENT HERE -->
                        <!-- end: YOUR CONTENT HERE -->
    
{% endblock %}
 {% block jspage     %}
       <script src="{{asset('vendor/select2/select2.min.js')}}"></script>
        <script src="{{asset('vendor/DataTables/jquery.dataTables.min.js')}}"></script>
        <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
        <!-- start: CLIP-TWO JAVASCRIPTS -->
        <script src="{{asset('assets/js/jQuery.print.js')}}"></script>
        <!-- start: JavaScript Event Handlers for this page -->
        <script src="{{asset('assets/js/table-data.js')}}"></script>
    
        <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
        
        <script>
            jQuery(document).ready(function() {
                Main.init();
                $('.modal-content').css('background','white');
                 $("#fi").click(function(){
                    $("#ff").print();
                });
                

                //////////// ajouter_poste /////////////
                var ajouter_poste = $('form:eq(1)');
                ajouter_poste.submit(function(e){
                  var id = $(this).attr('id');
                                         
                  $.ajax({
                      url: "{{path('ajouter_poste')}}",
                      type: 'POST',
                      data: ajouter_poste.serialize(),
                      beforeSend: function(){
                            console.log('charge');
                            $('.bb').css( "display", "initial" );
                        },
                      success: function(d){
                             console.log('cb1');
                             $('form').trigger("reset");
                            $('.bb').css( "display", "none" );
                            window.location.reload(); },
                      error: function (xhr, ajaxOptions, thrownError) {
                      alert(xhr.responseText);           
                      alert(xhr.status);           
                      alert(xhr.thrownError);},
                         });

                      e.preventDefault();
                     });

               
               
            });
        </script>
        {% endblock %}
{% block menu %}
                        <ul class="main-navigation-menu">
                            <li >
                                <a href="{{path('index2')}}">
                                    <div class="item-content">
                                        <div class="item-media">
                                            <i class="ti-home"></i>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title"> Aceuil </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            {% endblock %}

                            {% block menugrh %}
                            <li class="active open">
                                <a href="javascript:void(0)">
                                    <div class="item-content">
                                        <div class="item-media">
                                            <i class=" ti-user"></i>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title">Gestion res. humaines</span><i class="icon-arrow"></i>
                                        </div>
                                    </div>
                                </a>
                                <ul class="sub-menu">
                                            <li >
                                                <a href="{{path('departement')}}">
                                                    Départements</i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{path('employe')}}">
                                                    Employés
                                                </a>
                                            </li>
                                            <li class="active">
                                                <a href="{{path('postes')}}">
                                                    Postes
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{path('absences')}}">
                                                    Absences
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{path('conges')}}">
                                                    Congés
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{path('recrutements')}}">
                                                    Recrutements
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{path('salaires')}}">
                                                    Salaires
                                                </a>
                                            </li>
                                    
                                </ul>
                            </li>


                                                   {% endblock %}
