{% extends 'base.html.twig' %}
{% block title %}Liste des clients | BusinessPark{% endblock %}
{% block content %}
	<!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
		<link href="{{asset('vendor/select2/select2.min.css')}}" rel="stylesheet" media="screen">
		<link href="{{asset('vendor/DataTables/css/DT_bootstrap.css')}}" rel="stylesheet" media="screen">
		<!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
     <div id="ff">
               
	<section id="page-title">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h1 class="mainTitle">CRM </h1>
                                    <span class="mainDescription"> Liste des <span class="text-bold">Client</span></span>

                                    
                                </div>
                                <ol class="breadcrumb">
                                    <li>
                                        <span>gestion des clients</span>
                                    </li>
                                    <li class="active">
                                        <span>Liste</span>
                                    </li>
                                </ol>
                            </div>
                        </section>
                        <!-- start: DYNAMIC TABLE -->
						<div class="container-fluid container-fullw bg-white">
							<div class="row">
								
								<div class="col-md-12">
									<button class="btn btn-primary btn-squared margin-bottom-20 hidden-xs" data-toggle="modal" data-target=".bs-example-modal-lg"><i class="fa fa-plus"></i> Client</button>

                  <button class="btn btn-primary btn-squared margin-bottom-20 hidden-xs  " id="fi"><i class="fa fa-print"></i> Imprimer</button>

                                    <br>
                                        <br>
                                    
									<table class="table table-striped  table-hover table-full-width" id="sample_1">
										<thead>
											<tr>
												<th>Photo</th>
												<th class="">Nom</th>
												<th>Téléphone</th>
												<th class="">Fax </th>
												<th>Email</th>
												<th >Date d'inscrits</th>
												<th class="hidden-xs center">Action</th>
											</tr>
										</thead>
										<tbody>
											{% for client in clients %}
											
											<tr>
												<td><img src="{{asset('assets/images/avatar-1.jpg')}}" class="img-rounded" alt="image"></td>
												<td class="">{{client.nom}}</td>
												<td>{{client.tel}}</td>
												<td class="">{{client.fax}}</td>
												<td>{{client.email}}</td>
												<td class="">
                                                        
                                                        {{client.dateinscrit|date('d,M-Y')}}
													
                                                     
													
												</td>
												<td class="hidden-xs center">
												<div class="visible-md visible-lg hidden-sm ">
													<a href="{{path('modif_client',{'id':client.id})}}" class="btn btn-transparent btn-xs" tooltip-placement="top" tooltip="Edit"><i class="fa fa-pencil"></i></a>
													<a href="{{path('profil_client',{'id':client.id})}}" class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="Share"><i class="fa fa-eye"></i></a>
													<a href="{{path('supp_client',{'id':client.id})}}" class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="Remove"><i class="fa fa-times fa fa-white"></i></a>
												</div>
												<div class="visible-xs visible-sm hidden-md hidden-lg">
													<div class="btn-group" dropdown="">
														<button type="button" class="btn btn-primary btn-sm dropdown-toggle" dropdown-toggle="">
															<i class="fa fa-cog"></i>&nbsp;<span class="caret"></span>
														</button>
														<ul class="dropdown-menu pull-right dropdown-light" role="menu">
															<li>
																<a href="#">
																	Mofidier
																</a>
															</li>
															<li>
																<a href="#">
																	Profil
																</a>
															</li>
															<li>
																<a href="#">
																	Supprimer
																</a>
															</li>
														</ul>
													</div>
												</div></td>
											</tr>
											{% endfor %}
											
										</tbody>
									</table>
								</div>
							</div>
						</div></div>
						<div class="modal fade bs-example-modal-lg"  tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog modal-lg">
                                                <div class="modal-content">
                                                    <div class="modal-body">
                                                         {{ render(controller("CRMCrmBundle:Client:ajouter_client")) }} 
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                    
						<!-- end: DYNAMIC TABLE -->
						
	
{% endblock %}
{% block jspage %}
        <script src="{{asset('vendor/select2/select2.min.js')}}"></script>
		<script src="{{asset('vendor/DataTables/jquery.dataTables.min.js')}}"></script>
		<script src="{{asset('assets/js/jQuery.print.js')}}"></script>
       
        <script src="{{asset('assets/js/table-data.js')}}"></script>
        <script>
            jQuery(document).ready(function() {
                Main.init();
                TableData.init();
                 $('.modal-content').css('background','white');
                $("#fi").click(function(){
                    $("#ff").print();
                });
                

				  //////////// ajouter_client /////////////
                var ajouter_client = $('form:eq(1)');
                ajouter_client.submit(function(e){
                  var id = $(this).attr('id');
                                         
                  $.ajax({
                      url: "{{path('ajouter_client')}}",
                      type: 'POST',
                      data: ajouter_client.serialize(),
                      beforeSend: function(){
                            console.log('charge');
                            $('.bb').css( "display", "initial" );
                        },
                      success: function(d){
                             console.log('cb1');
                             $('form').trigger("reset");
                            $('.bb').css( "display", "none" );
                             window.location.reload(); },
                      error: function (xhr, ajaxOptions, thrownError) {
                      alert(xhr.responseText);           
                      alert(xhr.status);           
                      alert(xhr.thrownError);},
                         });

                      e.preventDefault();
                     });


			});
		</script>
        {% endblock %}

{% block menu %}
                        <ul class="main-navigation-menu">
                            <li >
                                <a href="{{path('index2')}}">
                                    <div class="item-content">
                                        <div class="item-media">
                                            <i class="ti-home"></i>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title"> Aceuil </span>
                                        </div>
                                    </div>
                                </a>
                            </li>{% endblock %}
                            {% block menucrm %}
                        
                            <li class="active open">
                                <a href="javascript:void(0)">
                                    <div class="item-content">
                                        <div class="item-media">
                                            <i class="ti-agenda"></i>
                                        </div>
                                        <div class="item-inner">
                                            <span class="title"> CRM 
                                            
                                            </span><i class="icon-arrow"></i>
                                        </div>
                                    </div>
                                </a>
                                <ul class="sub-menu">
                                  <li class="active">
                                                <a href="{{path('clients')}}">
                                                    Clients
                                                </a>
                                            </li>

                                            
                                            <li>
                                                <a href="{{path('services')}}">
                                                    Services
                                                </a>
                                            </li>

                                             <li >
                                                <a href="{{path('compagnes')}}">
                                                    Compagnes marketing
                                                </a>
                                            </li>
                                           
                                           <li>
                                                <a href="{{path('opportunites')}}">
                                                    Opportunites de vente
                                                </a>
                                            </li>

                                            
                                            
                                            
                                    
                                    
                                </ul>
                            </li>{% endblock %}
